---
layout: default
title: Home
---
<div class="home-page-container">
  <!--
<div class="layer layer-01"></div>
<div class="layer layer-02"></div>-->

<div class="feature-section">
  <div class="hero-feature">
    <a href="how-to/2018/09/09/how-to-make-better-toast.html">
      <div class="hero-feature-text">
        <b>Have a better breakfast</b>
        <h2>HOW TO MAKE BETTER TOAST</h2>
      </div>
    </a>
  </div>
  <div class="featured-articles">
    <h1>FEATURED</h1>
    <a href="essay/2019/02/08/3rd-Quarter-winners-are-the-Super-Bowl-losers.html">
      <div class="fa-1">
        <img class="fa-img" src="/assets/images/3rd-Quarter-winners-are-the-Super-Bowl-losers.jpg" alt="nfl players on a football field">
        <div class="fa-1-txt">
          <p>Daniel F</p>
          <b>An analysis of Super Bowl LIII</b>
          <h2>3rd Quarter Winners are the Super Bowl Losers</h2>
        </div>
      </div>
    </a>
  </div>
  <!--
  {% for post in site.posts limit:4 offset: 4 %}
  <div style="{% cycle "left: 30%; top:20%;", "left: 10%; top: 50%;", "right: 30%;top:20%;", "right: 10%; top: 50%" %}" class="small-cloud">
    <a href="{{ post.url }}">
      <div class="small-circle">
        <img src="assets/images/{{post.imgurl}}" />
      </div>
      <div  class="small-circle-text">
        <b>{{ post.category | upcase }}</b>
        <h2>{{ post.title }}</h2>
      </div>


    </a>
  </div>
  {% endfor %}
  <div class="large-circle">
    <a href="how-to/2018/09/09/how-to-make-better-toast.html">
      <img src="assets/images/Toast in Toaster.jpg">
      <div class="large-circle-text">
        <b>HAVE A BETTER BREAKFAST</b>
        <h2>How to make better toast.</h2>
      </div>
    </a>
  </div>

  -->
</div>



<div class="recent-post-container">
  <h1>Latest Posts</h1>
  <ul class="recent-post-section">
    {% for post in site.posts%}
      <li class="recent-post">
        <div class="recent-preview-img">
          <img src="assets/images/{{ post.imgurl }}" alt="Preview image for {{post.title}}"/>
        </div>
        <div class="recent-title">
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <p>{{ post.author }} | {{ post.date | date_to_string}}</p>
          <p>{{ post.description }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
</div>
<script type="text/javascript">
  window.addEventListener('scroll', () => {
     let children = document.getElementsByClassName('layer');
     for(let i = 0; i < children.length; i++) {
       children[i].style.transform = 'translateY(-' + (window.pageYOffset * i / children.length) + 'px)';
     }
  }, false)
  </script>
