@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800|Merriweather:300,400,700,900');
html {
  font-family: 'Merriweather', serif;
  box-sizing: border-box;
}
img {
  width: 100%;
}
nav.topnav {
  display: flex;
  height: 10vh;
  a {
    flex: auto;
    text-align: center;
  }
  .header-logo {
    flex-grow: 2;
  }
  .logo-text {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20pt;
    font-weight: bold;
    display: inline;
    position: relative;
  }

}
.recent-post-section {
  list-style-type: none;
  padding-left: 0;
}
.recent-post-section h2 {
  font-family: 'Merriweather Sans', sans-serif;
}
.recent-post {
  border-top: 1px solid gray;
}
.feature-section h2 {
  margin-top: 0;
}
.current {
  font-weight: bold;
}
a {
  color: black;
  transition: opacity 0.5s;
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}
.recent-post h2 {
  font-size: 16pt;
}
@media screen and (min-width: 620px) {
  .recent-post h2 {
    font-size: 24pt;
  }
  .recent-post {
    height: 300px;
    h2 {
      font-size: 24pt;
    }
    /*The box that contains the img element*/
    .recent-preview-img {
      width: 30%;
      display: inline-block;
      overflow: hidden;
      height: 100%;
      padding-right: 2%;
    }
    .recent-title {
      height: 100%;
      width: 65%;
      display: inline-block;
      overflow: hidden;
    }
    img {
      width: 100%;
      height: 80%;
      object-fit: cover;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

  }
  .recent-post:hover {
    opacity: 0.7;
  }
}


@media screen and (min-width: 1020px) {
  .recent-post-container {
    width: 80vw;
    margin: auto;
  }
  .article-container  {
    width: 50vw;
    margin: auto;
  }
  .article-container img {
    width: 60%;
    margin: auto;
  }
  .feature-section {
    height: 170vh;
  }
  .small-cloud {
    position: absolute;
    width: 20vh;
  }
  .small-circle {
    width: 20vh;
    height: 20vh;
    border-radius: 10vh;
    border: 2px solid rgb(0, 174, 255);
    overflow: hidden;
    transition: 0.5s;
  }
  .small-circle:hover {
    border-radius: 15vh;
    width: 30vh;
    height: 30vh;
    transform: translate(-15%, -15%);
  }
  .small-circle-text {
    text-align: center;
    width: 200%;
    transform: translateX(-25%);
  }
  .small-circle-text b {
    font-size: 10pt;
  }
  .feature-section h2 {
    font-size: 12pt;
    text-align: center;
  }
  .large-circle h2 {
    font-size: 36pt;
  }
  .large-circle {
    text-align: center;
  }
  .small-circle img {
    width: 150%;
  }
  .large-circle {
    position: absolute;
    width: 40vw;
    height: 40vw;
    border-radius: 25vw;
    left: 50%;
    top: 90%;
    transform: translate(-50%, 0);
    border: 2px solid rgb(0, 174, 255);
    position: absolute;
    overflow: hidden;
  }
  .large-circle h2 {
    margin-top: -70%;
    color: white;
  }
  .large-circle img {
    z-index: 0;
    width: auto;
    height: 100%;
  }
}
