@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800|Merriweather:300,400,700,900');
html {
  font-family: 'Merriweather Sans', sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
}
img {
  width: 100%;
}
.home-page-container {
  background-color: #dee9fc;
  /*background: rgb(95,177,251);
background: linear-gradient(to bottom, rgba(95,177,251,1) 0%, rgba(130,225,255,1) 70%, rgba(255,255,255,1) 100%);*/
}
.article-container {
  margin-top: 20%;
  margin-bottom: 50px;
}
.hero-feature {
  width: 100%;
  height: 50vh;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/assets/images/Toast in Toaster.jpg');
  overflow: hidden;
  background-size: cover;
  .hero-feature-text {
    margin-top: 50%;
    color: white;
  }
}
h1 {
  border-bottom: 4px solid #47e9b4;
}
.featured-articles {

  margin: auto;
  .fa-1 {
    transition: 0.2s;
    .fa-img {
    }
    h2 {
      text-align: left;
    }
    p {
      font-weight: bold;
    }
  }
  .fa-1:hover {
    color: #34ad84
  }
}
.author-page-container {
  margin: auto;
  margin-top: 10%;
  h1 {
    border-left: 1px solid gray;
    padding-left: 10px;
  }
  .author-post-section {
    list-style: none;
    padding: 0;
    li.author-post {
      padding-top: 4%;
    }
  }
}
ul.all-authors {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
  }
  a {
    color: black;
  }
}
nav.topnav {
  position: absolute;
  height: 8vh;
  width: 100%;
  display: flex;
  padding: 1vh 0px 1vh 0px;
  z-index: 10;
  transition: 0.5s;
  /*
  background-color: #0098ff;
  border-bottom: 1px solid #edf7ff;
*/
  a {
    flex: auto;
    text-align: left;
    padding: 10px;
    color: #b8c5db;
    transition: .3s;
    font-size: 12pt;
  }
  .header-link-text {
    display: inline-block;
  }
  .underline {
    display: inline-block;
    float: right;
    width: 0;
    height: 2px;
    border: none;
    background-color: #ffffff;
    transition: 0.5s;
    margin: 0;
  }
  .header-logo:hover {
    color: white;
    transition: .5s;
  }
  .header-link-text:hover {
    transition: .5s;
    color: white;
  }
  .header-link-text:hover .underline {
    float: left;
    width: 100%;
  }
  .header-logo {
    flex-grow: 4;
    text-align: left;
    font-weight: auto;
    padding-left: 10%;
  }
  .logo-text {
    display: inline;
    position: relative;
  }


}
.recent-post-section {
  list-style-type: none;
  padding-left: 0;
}
.recent-post-section h2 {
  font-family: 'Merriweather Sans', sans-serif;
}
.recent-post:not(:first-child) {
  border-top: 1px solid gray;
}

.feature-section h2 {
  margin-top: 0;
}
a {
  color: black;
  transition: opacity 0.5s;
  text-decoration: none;
}
a:hover {
  opacity: 0.9;
}
.recent-post h2 {
  font-size: 16pt;
}
nav.topnav-scrolling-up {
  position: fixed !important;
  animation-name: fillin;
  animation-duration: 0.6s;
  background-color: #333333;
}
nav.topnav-scrolling-down {
	position: fixed !important;
  animation-name: slideout;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  background-color: #333333;
}
@keyframes fillin {
  from {position: fixed; top: -10vh;}
  to {top: 0}
}
@keyframes slideout {
  from {top: 0}
  to {top: -15vh; }
}

@media screen and (min-width: 620px) {
  .recent-post h2 {
    font-size: 24pt;
  }
  .recent-post {
    height: 300px;
    h2 {
      font-size: 24pt;
    }
    /*The box that contains the img element*/
    .recent-preview-img {
      width: 30%;
      display: inline-block;
      overflow: hidden;
      height: 100%;
      padding-right: 2%;
    }
    .recent-title {
      height: 100%;
      width: 65%;
      display: inline-block;
      overflow: hidden;
    }
    img {
      width: 100%;
      height: 80%;
      object-fit: cover;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

  }
  .recent-post:hover {
    opacity: 0.7;
  }
  nav.topnav a {
    font-size: 16pt;
  }
}


@media screen and (min-width: 1020px) {
  .author-page-container {
    width: 80%;
  }
  .all-authors-container {
    width: 80%;
    margin: auto;
  }
  ul.all-authors {
    li {
      width: 45%;
      margin-left: 1%;
      margin-bottom: 1%;
      border-left: 4px solid #008dff;
      padding-left: 10px;
    }
  }
  .recent-post-container {
    width: 80vw;
    margin: auto;
  }
  .article-container  {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }
  .article-container img {
    width: 60%;
    margin: auto;
  }

  .hero-feature {
    height: 100vh;
    .hero-feature-text {
      font-size: 24pt;
      text-align: right;
      color: white;
      position: absolute;
      right: 7%;
      bottom: 0;
    }
    .accent {
      transition: 0.3s;
      width: 20%;
      height: 30px;
      border: none;
      background-color: #37e9b4;
      display: inline-block;
      display: none;

    }
    .accent:hover {
      width: 50%;
    }
    b {
      display: block;
      color: #37e9b4;
    }
    .hero-feature-text h2 {
      font-size: 48pt;
    }
  }
  .featured-articles {
    width: 80vw;
    .fa-1 {
      width: 80%;
      .fa-img {
        width: 50%;
        display: inline-block;
      }
      .fa-1-txt {
        display: inline-block;
	margin-left: 5%;
        width: 44%;
	p {
	  margin: 0;
	}
        b {
          font-size: 20pt;
        }
        h2 {
          font-size: 30pt;
          white-space: wrap;
        }
      }
    }
  }
  .large-circle {
    position: absolute;
    width: 40vw;
    left: 50%;
    top: 70%;
    transform: translate(-50%, 0);
    position: absolute;
    text-align: center;
    .large-circle-text {
      transform: translate(50%,-50%);
      h2 {
        font-size: 24pt;
      }
    }
  }

  .large-circle img {
    z-index: 0;
    width: 100%;
  }
}

.staff-page-container {
  font-family: 'Merriweather Sans', sans-serif;
  img {
    width: auto;
  }
  a {
    text-decoration: none;
    color: #79959B;
  }
  a:hover {
    color: #CDE4E9;
    transition: .5s;
  }
  .index {
    display: inline-block;
    width: 55%;
    margin-left: 1%;
  }
  .about {
    display: inline-block;
    width: 20%;
    text-align: right;
  }
  .staff {
    display: inline-block;
    width: 20%;
    text-align: right;
  }
  nav.topnav a {
    color: white;
  }
  .top {
    background-color: black;
    height: 100vh;
    padding: 0;

  }
  .top-text{
    font-weight:bold;
    font-size: 50px;
    color: white;
    padding-top: 30%;
    padding-left: 20%;
  }

  #middle {
    height:80vh;
    background-color: #eaf0f9;
    font-size: 30px;
    color:  black;
  }
  img.ai {
    display: block;
    text-align: center;
    margin: auto;
    height: 200px;
    width: 180px;
  }
  .team {
  font-size: 50px;
  padding-top: 2%;
  padding-left: 1%;
  font-weight: bold;
  color: black;
  }
  a.allen {

  }
  .a {
    margin-top: 4%;
  width: 24%;
    display: inline-block;
    text-align: center;
  }
  .a1 {
    font-size: 20px;
    color:#404040;
    text-align: center;
  }
  .bottom {
    background-color: #008dff;
    height: 13vh;
  }
  .quote {
    position: absolute;
    color: #008dff;
    padding-top: 3%;
  }
  a.pix {
    color: #008dff;
    font-size: 3px;
    position: absolute;
  }
  /*arrow style*/
  a.arrow { color: white; text-decoration: none; font-size: 20px;filter: invert(1);}

  .arrow {
  margin-top: 0%;
    margin-left: 3%;
    padding: 3%;
  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
}
